version: 2

workflows:
  version: 2

  build_branch:
    jobs:
      - build

defaults: &defaults
  docker:
    - image: python:3.8
  working_directory: ~/2600hz/kazoo
  shell: /bin/bash --login
  environment:
    BASH_ENV: ".git/.bashrc"
    
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker   
      - run:
        # installs a docker client that will be used to run the docker commands
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://get.docker.com/builds/Linux/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin      

      - run:
          name: Build Kamailio
          command: |
            # Build Kamailio 5.0.0 with kazoo v4.3 config.
            cd kamailio && ./build.sh d62fd3e4976633aa6b827d527f4e15de0b08068b
            docker build $BUILD_FLAGS -t thecloudpractice/$NETWORK:kamailio . 
     
