version: 2

workflows:
  version: 2

  build_branch:
    jobs:
      - build

defaults: &defaults
  docker:
    - image: docker:git
  working_directory: ~/2600hz/kazoo
  shell: /bin/bash --login
  environment:
    BASH_ENV: ".git/.bashrc"
      NETWORK: kazoo
    
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker   
      - run:
          name: Build BaseOs
          command: cd base-os && docker build $BUILD_FLAGS -t $NETWORK/base-os .
      - deploy:
          name: Push base image to docker
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker login -u username -p password
              docker push thecloudpractice/$NETWORK:base-os
            fi
      - persist_to_workspace:
          root: .
          paths:
            - .  

            
