version: 2

workflows:
  version: 2

  build_branch:
    jobs:
      - build

defaults: &defaults
  docker:
    - image: offical2600hz/circleci:19.3.6.13
  working_directory: ~/2600hz/kazoo
  shell: /bin/bash --login
  environment:
    BASH_ENV: ".git/.bashrc"
    
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - run:
          # installs a docker client that will be used to run the docker commands
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://get.docker.com/builds/Linux/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin      
      - run:
          name: Build BaseOs
          command: cd base-os && ./build.sh
      - deploy:
          name: Push base image to docker
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker login -u username -p password
              docker push thecloudpractice/kazoo:base-os
            fi
      - persist_to_workspace:
          root: .
          paths:
            - .  

            
