version: 2

workflows:
  version: 2

  build_branch:
    jobs:
      - build_couchdb
      - build_rabbitmq
      - build_kamailio
      - build_fs
      - build_kazoo
      - build_monster-ui

defaults: &defaults
  docker:
    - image: cimg/base:2023.09
      auth:
        username: $DOCKER_USERNAME
        password: $DOCKER_PASSWORD
  resource_class: large
  working_directory: ~/2600hz/kazoo
  shell: /bin/bash --login
  environment:
    BASH_ENV: ".git/.bashrc"


jobs:
  build_fs:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.7
          docker_layer_caching: true

      - run:
          name: Build Freeswitch
          command: |
            # Build Freeswitch 1.10
            cd freeswitch && ./build.sh
            docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
            docker tag $NETWORK/freeswitch:latest thecloudpractice/freeswitch:${CIRCLE_BRANCH}
            docker push thecloudpractice/freeswitch:${CIRCLE_BRANCH}

  build_monster-ui:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.7
          docker_layer_caching: true

      - run:
          name: Build Monster-UI
          command: |
            # Build Monster-UI 4.3
            cd monster-ui && ./build.sh 197ea75edd931fbed9cf33120e65cef854eb14a9
            echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin
            docker tag $NETWORK/monster-ui:latest thecloudpractice/monster-ui:${CIRCLE_BRANCH}
            docker push thecloudpractice/monster-ui:${CIRCLE_BRANCH}

  build_kazoo:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.7
          docker_layer_caching: true

      - run:
          name: Build Kazoo
          command: |
            # Build Kazoo 4.3
            cd kazoo && ./build.sh 54c7d3b238c98a6e4e22555c2df85917c5885388 
            echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin
            docker tag $NETWORK/kazoo:latest thecloudpractice/kazoo:${CIRCLE_BRANCH}
            docker push thecloudpractice/kazoo:${CIRCLE_BRANCH}

  build_kamailio:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.7
          docker_layer_caching: true

      - run:
          name: Build Kamailio
          command: |
            # Build Kamailio 5.1.0 with kazoo v4.3 config.
            cd kamailio && ./build.sh 327548cbfdc2c5331d9a9264aa6a1571c35ff02e
            echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin
            docker tag $NETWORK/kamailio:latest thecloudpractice/kamailio:${CIRCLE_BRANCH}
            docker push thecloudpractice/kamailio:${CIRCLE_BRANCH}
               
  build_rabbitmq:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.7
          docker_layer_caching: true

      - run:
          name: Build RabbitMQ
          command: |
            cd rabbitmq && ./build.sh
            echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin
            docker tag $NETWORK/rabbitmq:latest thecloudpractice/rabbitmq:${CIRCLE_BRANCH}
            docker push thecloudpractice/rabbitmq:${CIRCLE_BRANCH}

  build_couchdb:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.7
          docker_layer_caching: true

      - run:
          name: Build CouchDB
          command: |
            cd couchdb && ./build.sh 
            echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin
            docker tag $NETWORK/couchdb:latest thecloudpractice/couchdb:${CIRCLE_BRANCH}
            docker push thecloudpractice/couchdb:${CIRCLE_BRANCH}
     
  build_base_os:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.7
          docker_layer_caching: true

      - run:
          name: Build BaseOs
          command: |
            cd base-os && ./build.sh
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              echo "$DOCKER_PASSWORD" | docker login -u $DOCKER_USERNAME --password-stdin
              docker tag $NETWORK/base-os:latest thecloudpractice/$NETWORK:base-os
              docker push thecloudpractice/$NETWORK:base-os
            fi 