version: 2

workflows:
  version: 2

  build_branch:
    jobs:
      - build

defaults: &defaults
  docker:
    - image: cimg/python:3.10.0
      auth:
        username: $DOCKER_USERNAME
        password: $DOCKER_PASSWORD
  resource_class: large
  working_directory: ~/2600hz/kazoo
  shell: /bin/bash --login
  environment:
    BASH_ENV: ".git/.bashrc"
    
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:

      - run:
          name: Build Freeswitch
          command: |
            # Build Freeswitch 1.10
            cd freeswitch && ./build.sh 883d2cb662bed0316e157bd3beb9853e96c60d02
            docker build $BUILD_FLAGS --build-arg TOKEN=$SW_TOKEN -t thecloudpractice/$NETWORK:freeswitch . 
